# Build artifacts
dist/
*.exe

# Test & coverage output
*.out
cover.out
*.test
*.prof
cover.html

# Debugging
__debug_bin*

# OS metadata
.DS_Store
Thumbs.db

# Editor / IDE temp files
*.swp
*.swo
*~
.idea/
*.iml

# Environment / secrets
.env
.env.*

# Temp files
tmp/

# Packaging artifacts
*.nupkg

# Log files
*.log


.gitflow/*
.gitflow*
tests/*.out
tests/*.cov